/* ________________ */
/* Contact Us */
/* _______________ */

.contactus{
  background-color:#f5f5f5;
}
#contactus-section {
  background-color: #f5f5f5;
  padding: 140px 0px 40px 0px !important;
  display: flex;
}

.contactus-text {
  padding: 10px;
}

.contactus-text-heading {
  text-align: left;
  padding: 10px 0px 30px 0px;
}

.contactus-text-heading h2 {
  font-size: 2vw;
}

.contactus-text-passage h5 {
  font-size: 1.3vw;
  width: 75%;
  font-weight: 400;
}

.contactus-text-passage h6 {
  font-size: 1vw;
  width: 75%;
  font-weight: 300;
}

#contact-form {
  background-color: #b2d3fa !important;
  padding: 30px 40px 30px 40px;
  border-radius: 5%;
}

#contact-form input,
#contact-form textarea {
  border: 1px solid gray;
  border-radius: 10px;
}

#contact-form label {
  margin: 10px 0px 0px 0px;
}

.contactus-submit {
  display: flex;
  justify-content: center;
}

.contactus-submit .submit-button {
  padding: 5px 20px;
  font-size: 1vw;
  font-weight: 500rem;
  margin: 35px 0px 0px 0px;
  border: 1px solid transparent !important;
  border-radius: 10px;
  background-color: #3d7ed1;
  color: #f5f5f5;
}

@media only screen and (max-width: 450px) {
  #contactus-section {
    padding: 90px 0px 0px 0px !important;
  }

  .contactus-text-heading {
    padding: 10px 0px 10px 0px;
  }

  .contactus-text-heading h2 {
    font-size: 6vw;
  }

  .contactus-text-passage h5 {
    font-size: 4vw;
    width: 90%;
  }

  .contactus-text-passage h6 {
    font-size: 3vw;
    width: 75%;
    font-weight: 300;
  }

  .contactus-submit .submit-button {
    font-size: 3.5vw;
  }
}

@media only screen and (max-width: 768px) and (min-width: 450px) {
  #contactus-section {
    padding: 140px 0px 30px 0px !important;
  }

  .contactus-text-heading {
    padding: 10px 0px 0px 0px;
  }

  .contactus-text-heading h2 {
    font-size: 4vw;
  }

  .contactus-text-passage h5 {
    font-size: 2.5vw;
    width: 90%;
  }

  .contactus-text-passage h6 {
    font-size: 2vw;
    width: 75%;
    font-weight: 300;
  }

  .contactus-submit .submit-button {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  #contactus-section {
    padding: 140px 0px 30px 0px !important;
  }

  .contactus-text-heading {
    padding: 10px 0px 20px 0px;
  }

  .contactus-text-heading h2 {
    font-size: 3vw;
  }

  .contactus-text-passage h5 {
    font-size: 1.8vw;
    width: 90%;
  }

  .contactus-text-passage h6 {
    font-size: 1.5vw;
    width: 75%;
    font-weight: 300;
  }

  .contactus-submit .submit-button {
    font-size: 1.5vw;
  }
}
