/* ________________ */
/* Products */
/* _______________ */
.products{
  background-color:#f5f5f5;
}
#products-stocks {
  background-color: #f5f5f5;
  padding: 80px 0px 00px 0px !important;
  display: flex;
}

#products-sips {
  background-color: #f5f5f5;
  padding: 80px 0px 00px 0px !important;
  display: flex;
}

#products-case {
  background-color: #f5f5f5;
  padding: 80px 0px 00px 0px !important;
  display: flex;
}

#products-currency {
  background-color: #f5f5f5;
  padding: 80px 0px 00px 0px !important;
  display: flex;
}

.products-image-button {
  display: flex;
  justify-content: center;
}

.products-logo {
  width: 50%;
  margin: 40px 0px 10px 0px;
}

.products-heading h2 {
  text-align: justify;
  font-weight: 500;
  color: #424242;
  font-size: 2.5vw;
  margin: 0px 0px 20px 0px;
}

.products-sub-heading h5 {
  text-align: justify;
  font-weight: 400;
  color: #424242;
  font-size: 1.4vw;
  margin: 0px 0px 20px 0px;
}

.products-have-a-look a {
  text-align: left;
  font-weight: 300;
  font-size: 1.3vw;
  margin: 0px 0px 16px 0px;
}

@media only screen and (max-width: 450px) {
  #products-sips {
    padding: 20px 0px 00px 0px !important;
  }

  #products-case {
    padding: 20px 0px 00px 0px !important;
  }

  #products-currency {
    padding: 20px 0px 00px 0px !important;
  }

  .products-logo {
    width: 40%;
  }

  .products-heading h2 {
    font-size: 5vw;
    margin: 0px 0px 10px 0px;
  }

  .products-sub-heading h5 {
    font-size: 3.5vw;
    margin: 0px 0px 10px 0px;
  }

  .products-have-a-look a {
    font-size: 3.5vw;
    margin: 0px 0px 0px 0px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 450px) {
  #products-sips {
    padding: 40px 0px 00px 0px !important;
  }

  #products-case {
    padding: 40px 0px 00px 0px !important;
  }

  #products-currency {
    padding: 40px 0px 00px 0px !important;
  }

  .products-logo {
    width: 40%;
  }

  .products-heading h2 {
    font-size: 4vw;
    margin: 0px 0px 10px 0px;
  }

  .products-sub-heading h5 {
    font-size: 3vw;
    margin: 0px 0px 10px 0px;
  }

  .products-have-a-look a {
    font-size: 3vw;
    margin: 0px 0px 0px 0px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  #products-stocks {
    padding: 150px 0px 40px 0px !important;
  }

  #products-sips {
    padding: 20px 0px 40px 0px !important;
  }

  #products-case {
    padding: 20px 0px 40px 0px !important;
  }

  #products-currency {
    padding: 20px 0px 40px 0px !important;
  }

  .products-logo {
    width: 40%;
  }

  .products-heading h2 {
    font-size: 3vw;
    margin: 0px 0px 10px 0px;
  }

  .products-sub-heading h5 {
    font-size: 2vw;
    margin: 0px 0px 10px 0px;
  }

  .products-have-a-look a {
    font-size: 2vw;
    margin: 0px 0px 0px 0px;
  }
}
