/* ________________ */
/* Dashboard Mood */
/* _______________ */

.dashboard-mood .mood-row .mood-col{
  display: flex;
  justify-content: center;
  align-items: center;

}

.dashboard-mood .mood-row .mood-heading {
  text-align: center;
 
}

.gauge{
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
}
.gauge__body{
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: rgb(177, 177, 185);
  position:relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill{
  position: absolute;
  top:100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: rgb(70, 118, 221);
  transform-origin: center top;
  transform: rotate(.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover{
  width: 75%;
  height: 150%;
  background: #e7f0ed;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform:translate(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}
