/* ________________ */
/* Dashboard  */
/* _______________ */

.dashboard-main {
  position: absolute;
  top: 76px;
  left: 0;
  min-width: 100% !important;
  padding: 20px;
}

.dashboard-stock-card {
  position: absolute;
  top: 76px;
  left: 0;
  min-width: 100% !important;
  padding: 20px;
}

.dashboard-main .dashboard-main-card-row .dashboard-main-card-col {
  padding: 10px;
}

.dashboard-main-content-row .dashboard-main-stats-col .Dashboard-Card {
padding:30px 10px;
 margin: 0 0 30px 0;
}
.dashboard-main-content-row .dashboard-main-active-row {
  padding:30px 10px;
  }
  

.dashboard-main-active-row .active-row{
  padding-bottom: 20px;
  font-size: 1.5rem;
}
.dashboard-main-active-row .dashboard-active{
  padding:0;
}
.dashboard-main-news .Dashboard-Card{
  padding: 30px 10px;
}

.dashboard-main-content-row  .mood-heading{
  padding-bottom: 10px;
  font-size: 1.5rem;
}
.dashboard-main-content-row .gauge__cover{
  font-size: 1.7rem;
}

.Dashboard-Card {
  background-color: #e7f0ed;
  height: auto;
  padding: 5px;
  border-radius: 10px;
}

.Dashboard-Card h6 {
  font-size: 1.2rem !important;
  margin: 7% 0px 0px 0px;
}

.Dashboard-Card h3 {
  margin: 3% 0%;
}

.Dashboard-Card .Card-Stock-Price-Change .badge {
  background-color: gray;
}

.dashboard-main .dashboard-main-content-row .dashboard-main-news-col {
  margin: 20px 0px 0px 0px;
}

.dashboard-main .dashboard-main-content-row .dashboard-main-stats-col {
  margin: 20px 0px 0px 0px;
}

@media only screen and (min-width: 992px) {
  .dashboard-main {
    position: absolute;
    top: 76px;
    left: 15%;
    min-width: 85% !important;
    padding: 20px;
  }
  .dashboard-stock-card {
    position: absolute;
    top: 90px;
    left: 13%;
    min-width: 86% !important;
    padding: 20px;
  }
}
