.watchlist {
  /* top:100px; */
  margin-top: 100px;
  height: 100%;
  /* margin-left: 200px; */
}

.watchlist .card-body .badge-soft-danger {
  color: #e63757;
  background-color: #fad7dd;
}
.watchlist .card-body .badge-soft-success {
  color: #037948;
  background-color: #ccf7e5;
}

.watchlist .card-body .wStockName {
  padding: 0 0.1rem;
}
.watchlist .card-body .wExchange {
  font-size: 0.65rem;
}

.watchlist .card-body .row {
  border-bottom: 1.5px solid gray;

  margin-bottom: 3px;
  padding: 5px;
}
.watchlist .col-3 {
  padding: 0 3px 0 0;
}

.container .card-body h6 {
  margin-bottom: 0;
}
